{
    "openapi": "3.0.0",
    "x-stoplight": {
        "id": "vzxagd4y23ppt"
    },
    "info": {
        "title": "Ideashop API",
        "description": "<div class=\"apidoc-icons\"><div class=\"apidoc-icons-item\"><a href=\"javascript:void(0)\" class=\"faq-button\" title=\"Sıkça Sorulan Sorular\"><div class=\"apidoc-icons-img\"><img src=\"https://apidoc.ideasoft.com.tr/images/help-icon-4.png\" alt=\"Sıkça Sorulan Sorular\"></div><h4>Sıkça Sorulan Sorular</h4></a><p>Sizlerden sıkça gelen sorulan soruları buradan görüntüleyerek, sorularınıza daha hızlı cevap bulabilirsiniz.</p></div><div class=\"apidoc-icons-item\"><a href=\"mailto:techsupport@ideasoft.com.tr\" title=\"Destek Sistemi\"><div class=\"apidoc-icons-img\"><img src=\"https://apidoc.ideasoft.com.tr/images/help-icon-5.png\" alt=\"Destek Sistemi\"></div><h4>Destek Sistemi</h4></a><p>API ile ilgili tüm sorularınız için bizimle <a href=\"mailto: apisupport@ideasoft.com.tr\"> apisupport@ideasoft.com.tr</a> adresimiz üzerinden iletişime geçebilirsiniz. Sizlere yardımcı olmaktan mutluluk duyarız.</p></div></div><p>IdeaSoft API kullanmak için ihtiyaç duyacağınız bilgileri bu dökümanda sizler için topladık. Navigasyon bölmesinden bilgi almak istediğiniz servislere gidebilir örnek istekleri, cevapları ve istek parametrelerini detaylıca görebilirsiniz. Servisin size dönmüş olduğu cevaptaki ilgili nesneyi cevaplar kısmında nesnenin ismine tıklayarak detaylı bir şekilde inceleyebilir her bir özelliğiyle ilgili detaylı açıklamalar bulabilirsiniz.</p>",
        "termsOfService": "https://www.ideasoft.com.tr/sayfa/iletisim",
        "contact": {
            "name": "Ideasoft API Support",
            "url": "https://www.ideasoft.com.tr/destek",
            "email": "apisupport@ideasoft.com.tr"
        },
        "version": "3.0.0"
    },
    "servers": [
        {
            "url": "https://magaza-adiniz.myideasoft.com/admin-api"
        }
    ],
    "paths": {
        "/admin-api/abandoned_carts": {
            "get": {
                "tags": [
                    "AbandonedCart"
                ],
                "summary": "AbandonedCart LIST",
                "description": "AbandonedCart cgetAction",
                "parameters": [
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sıralama değeri. Örnek: Artan sıra için <code>sort=id</code> azalan sıra için <code>sort=-id</code>",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Bir sayfada gelecek AbandonedCarts adedi",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "maximum": 100,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Hangi sayfadan başlanacağı",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "default": 1,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "member",
                        "in": "query",
                        "description": "Member Id",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "firstname",
                        "in": "query",
                        "description": "Customer Firstname",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "surname",
                        "in": "query",
                        "description": "Customer Surname",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Customer Email",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "startCreatedAt",
                        "in": "query",
                        "description": "createdAt değeri için başlangıç tarihi",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "pattern": "yyyy-mm-dd"
                        }
                    },
                    {
                        "name": "endCreatedAt",
                        "in": "query",
                        "description": "createdAt değeri için bitiş tarihi",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "pattern": "yyyy-mm-dd"
                        }
                    },
                    {
                        "name": "startUpdatedAt",
                        "in": "query",
                        "description": "updatedAt değeri için başlangıç tarihi",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "pattern": "yyyy-mm-dd"
                        }
                    },
                    {
                        "name": "endUpdatedAt",
                        "in": "query",
                        "description": "updatedAt değeri için bitiş tarihi",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "pattern": "yyyy-mm-dd"
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "AbandonedCart arama filtresi. Kullanımı: q[&lt;geçerli-query-parametresi&gt;]",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "s",
                        "in": "query",
                        "description": "Arama anahtarı ile filtreleme.",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AbandonedCart"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "OAuth2": [
                            "abandoned_cart_read"
                        ]
                    }
                ],
                "x-stoplight": {
                    "id": "4n9rmuzs3irzz"
                }
            }
        },
        "/admin-api/abandoned_carts/count": {
            "get": {
                "tags": [
                    "AbandonedCart"
                ],
                "summary": "AbandonedCart COUNT",
                "description": "AbandonedCart cgetAction",
                "parameters": [
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sıralama değeri. Örnek: Artan sıra için <code>sort=id</code> azalan sıra için <code>sort=-id</code>",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Bir sayfada gelecek AbandonedCarts adedi",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "maximum": 100,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Hangi sayfadan başlanacağı",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "default": 1,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "member",
                        "in": "query",
                        "description": "Member Id",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "firstname",
                        "in": "query",
                        "description": "Customer Firstname",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "surname",
                        "in": "query",
                        "description": "Customer Surname",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Customer Email",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "startCreatedAt",
                        "in": "query",
                        "description": "createdAt değeri için başlangıç tarihi",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "pattern": "yyyy-mm-dd"
                        }
                    },
                    {
                        "name": "endCreatedAt",
                        "in": "query",
                        "description": "createdAt değeri için bitiş tarihi",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "pattern": "yyyy-mm-dd"
                        }
                    },
                    {
                        "name": "startUpdatedAt",
                        "in": "query",
                        "description": "updatedAt değeri için başlangıç tarihi",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "pattern": "yyyy-mm-dd"
                        }
                    },
                    {
                        "name": "endUpdatedAt",
                        "in": "query",
                        "description": "updatedAt değeri için bitiş tarihi",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "pattern": "yyyy-mm-dd"
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "AbandonedCart arama filtresi. Kullanımı: q[&lt;geçerli-query-parametresi&gt;]",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "s",
                        "in": "query",
                        "description": "Arama anahtarı ile filtreleme.",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AbandonedCart"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "OAuth2": [
                            "abandoned_cart_read"
                        ]
                    }
                ],
                "x-stoplight": {
                    "id": "fg4hpypcs7pa2"
                }
            }
        },
        "/admin-api/abandoned_orders": {
            "get": {
                "tags": [
                    "AbandonedOrder"
                ],
                "summary": "AbandonedOrder LIST",
                "description": "AbandonedOrder cgetAction",
                "parameters": [
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sıralama değeri. Örnek: Artan sıra için <code>sort=id</code> azalan sıra için <code>sort=-id</code>",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Bir sayfada gelecek AbandonedCarts adedi",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "maximum": 100,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Hangi sayfadan başlanacağı",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "default": 1,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "member",
                        "in": "query",
                        "description": "Member Id",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "visitorType",
                        "in": "query",
                        "description": "Visitor type arama filtresi.",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "member",
                                "customer"
                            ]
                        }
                    },
                    {
                        "name": "firstname",
                        "in": "query",
                        "description": "Customer Firstname",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "surname",
                        "in": "query",
                        "description": "Customer Surname",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Customer Email",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "startCreatedAt",
                        "in": "query",
                        "description": "createdAt değeri için başlangıç tarihi",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "pattern": "yyyy-mm-dd"
                        }
                    },
                    {
                        "name": "endCreatedAt",
                        "in": "query",
                        "description": "createdAt değeri için bitiş tarihi",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "pattern": "yyyy-mm-dd"
                        }
                    },
                    {
                        "name": "startUpdatedAt",
                        "in": "query",
                        "description": "updatedAt değeri için başlangıç tarihi",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "pattern": "yyyy-mm-dd"
                        }
                    },
                    {
                        "name": "endUpdatedAt",
                        "in": "query",
                        "description": "updatedAt değeri için bitiş tarihi",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "pattern": "yyyy-mm-dd"
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "AbandonedCart arama filtresi. Kullanımı: q[&lt;geçerli-query-parametresi&gt;]",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "s",
                        "in": "query",
                        "description": "Arama anahtarı ile filtreleme.",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AbandonedOrder"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "OAuth2": [
                            "abandoned_order_read"
                        ]
                    }
                ],
                "x-stoplight": {
                    "id": "dzxbhdzqdu2tv"
                }
            }
        },
        "/admin-api/abandoned_orders/count": {
            "get": {
                "tags": [
                    "AbandonedOrder"
                ],
                "summary": "AbandonedOrder COUNT",
                "description": "AbandonedOrder cgetAction",
                "parameters": [
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sıralama değeri. Örnek: Artan sıra için <code>sort=id</code> azalan sıra için <code>sort=-id</code>",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Bir sayfada gelecek AbandonedCarts adedi",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "maximum": 100,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Hangi sayfadan başlanacağı",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "default": 1,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "member",
                        "in": "query",
                        "description": "Member Id",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "visitorType",
                        "in": "query",
                        "description": "Visitor type arama filtresi.",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "member",
                                "customer"
                            ]
                        }
                    },
                    {
                        "name": "firstname",
                        "in": "query",
                        "description": "Customer Firstname",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "surname",
                        "in": "query",
                        "description": "Customer Surname",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Customer Email",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "startCreatedAt",
                        "in": "query",
                        "description": "createdAt değeri için başlangıç tarihi",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "pattern": "yyyy-mm-dd"
                        }
                    },
                    {
                        "name": "endCreatedAt",
                        "in": "query",
                        "description": "createdAt değeri için bitiş tarihi",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "pattern": "yyyy-mm-dd"
                        }
                    },
                    {
                        "name": "startUpdatedAt",
                        "in": "query",
                        "description": "updatedAt değeri için başlangıç tarihi",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "pattern": "yyyy-mm-dd"
                        }
                    },
                    {
                        "name": "endUpdatedAt",
                        "in": "query",
                        "description": "updatedAt değeri için bitiş tarihi",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "pattern": "yyyy-mm-dd"
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "AbandonedCart arama filtresi. Kullanımı: q[&lt;geçerli-query-parametresi&gt;]",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "s",
                        "in": "query",
                        "description": "Arama anahtarı ile filtreleme.",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AbandonedOrder"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "OAuth2": [
                            "abandoned_order_read"
                        ]
                    }
                ],
                "x-stoplight": {
                    "id": "a5pnnum5yuzmf"
                }
            }
        },
        "/admin-api/acl_resources": {
            "get": {
                "tags": [
                    "AclResource"
                ],
                "summary": "AclResource LIST",
                "description": "AclResource cgetAction",
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-stoplight": {
                    "id": "d4i2visy2b91e"
                }
            }
        },
        "/admin-api/active_carts": {
            "get": {
                "tags": [
                    "ActiveCart"
                ],
                "summary": "ActiveCart LIST",
                "description": "ActiveCart cgetAction",
                "parameters": [
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Example sort=id",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of requested AbandonedCarts per page",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "maximum": 100,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Which page to start from",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "default": 1,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "customerFirstname",
                        "in": "query",
                        "description": "Customer Firstname",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "customerSurname",
                        "in": "query",
                        "description": "Customer Surname",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "customerEmail",
                        "in": "query",
                        "description": "Customer Email",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "state",
                        "in": "query",
                        "description": "Aşama",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "AbandonedCart search filter. Usage: q[<valid-query-param>]",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "s",
                        "in": "query",
                        "description": "Search key filter.",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActiveCart"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "OAuth2": [
                            "active_cart_read"
                        ]
                    }
                ],
                "x-stoplight": {
                    "id": "qj0ng8d2l723q"
                }
            }
        },
        "/admin-api/active_carts/count": {
            "get": {
                "tags": [
                    "ActiveCart"
                ],
                "summary": "ActiveCart COUNT",
                "description": "ActiveCart cgetAction",
                "parameters": [
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Example sort=id",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of requested AbandonedCarts per page",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "maximum": 100,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Which page to start from",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "default": 1,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "customerFirstname",
                        "in": "query",
                        "description": "Customer Firstname",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "customerSurname",
                        "in": "query",
                        "description": "Customer Surname",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "customerEmail",
                        "in": "query",
                        "description": "Customer Email",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "state",
                        "in": "query",
                        "description": "Aşama",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "AbandonedCart search filter. Usage: q[<valid-query-param>]",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "s",
                        "in": "query",
                        "description": "Search key filter.",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActiveCart"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "OAuth2": [
                            "active_cart_read"
                        ]
                    }
                ],
                "x-stoplight": {
                    "id": "p9vdgw0lalqbk"
                }
            }
        },
        "/admin-api/app_setting_pref": {
            "get": {
                "tags": [
                    "AppSettingPref"
                ],
                "summary": "AppSettingPref LIST",
                "description": "AppSettingPref cgetAction",
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppSettingPref"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "OAuth2": [
                            "app_setting_pref_read"
                        ]
                    }
                ],
                "x-stoplight": {
                    "id": "6nsd3thw5xin6"
                }
            },
            "put": {
                "tags": [
                    "AppSettingPref"
                ],
                "summary": "AppSettingPref PUT",
                "description": "AppSettingPref putAction",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AppSettingPref"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppSettingPref"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "OAuth2": [
                            "app_setting_pref_update"
                        ]
                    }
                ],
                "x-stoplight": {
                    "id": "ti16jgulewz2q"
                }
            }
        },
        "/admin-api/banks": {
            "get": {
                "tags": [
                    "Bank"
                ],
                "summary": "Bank LIST",
                "description": "Bank cgetAction",
                "parameters": [
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sıralama değeri. Örnek: Artan sıra için <code>sort=id</code> azalan sıra için <code>sort=-id</code>",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Bir sayfada gelecek Blacklists adedi",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "maximum": 100,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Hangi sayfadan başlanacağı",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "default": 1,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Tekli listeleme için id değeri.",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "Çoklu listeleme için virgülle ayrılmış id değerleri. <code>ids=1,2,3,4</code>",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sinceId",
                        "in": "query",
                        "description": "Yalnızca belirtilen id değerinden sonraki kayıtları getirir ",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Blacklist arama filtresi. Kullanımı: q[&lt;geçerli-query-parametresi&gt;]",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "s",
                        "in": "query",
                        "description": "Arama anahtarı ile filtreleme.",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Bank"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "OAuth2": [
                            "payment_setting_read"
                        ]
                    }
                ],
                "x-stoplight": {
                    "id": "ti944cgirzo94"
                }
            }
        },
        "/admin-api/banks/count": {
            "get": {
                "tags": [
                    "Bank"
                ],
                "summary": "Bank COUNT",
                "description": "Bank cgetAction",
                "parameters": [
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sıralama değeri. Örnek: Artan sıra için <code>sort=id</code> azalan sıra için <code>sort=-id</code>",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Bir sayfada gelecek Blacklists adedi",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "maximum": 100,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Hangi sayfadan başlanacağı",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "default": 1,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Tekli listeleme için id değeri.",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "Çoklu listeleme için virgülle ayrılmış id değerleri. <code>ids=1,2,3,4</code>",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sinceId",
                        "in": "query",
                        "description": "Yalnızca belirtilen id değerinden sonraki kayıtları getirir ",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Blacklist arama filtresi. Kullanımı: q[&lt;geçerli-query-parametresi&gt;]",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "s",
                        "in": "query",
                        "description": "Arama anahtarı ile filtreleme.",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Bank"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "OAuth2": [
                            "payment_setting_read"
                        ]
                    }
                ],
                "x-stoplight": {
                    "id": "199hcqklqjo3f"
                }
            }
        },
        "/admin-api/banks/{id}": {
            "get": {
                "tags": [
                    "Bank"
                ],
                "summary": "Bank GET",
                "description": "Bank getAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "\\d+"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Bank"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "OAuth2": [
                            "payment_setting_read"
                        ]
                    }
                ],
                "x-stoplight": {
                    "id": "p04f0i7zz8w8x"
                }
            }
        },
        "/admin-api/banners": {
            "get": {
                "tags": [
                    "Banner"
                ],
                "summary": "Banner LIST",
                "description": "Banner cgetAction",
                "parameters": [
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sıralama değeri. Örnek: Artan sıra için <code>sort=id</code> azalan sıra için <code>sort=-id</code>",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Bir sayfada gelecek banners adedi",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "maximum": 100,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Hangi sayfadan başlanacağı",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "default": 1,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Tekli listeleme için id değeri.",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "Çoklu listeleme için virgülle ayrılmış id değerleri. <code>ids=1,2,3,4</code>",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sinceId",
                        "in": "query",
                        "description": "Yalnızca belirtilen id değerinden sonraki kayıtları getirir ",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "banner arama filtresi. Kullanımı: q[&lt;geçerli-query-parametresi&gt;]",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "s",
                        "in": "query",
                        "description": "Arama anahtarı ile filtreleme.",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Banner"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "OAuth2": [
                            "banner_read"
                        ]
                    }
                ],
                "x-stoplight": {
                    "id": "wrajssw9lotkm"
                }
            },
            "post": {
                "tags": [
                    "Banner"
                ],
                "summary": "Banner POST",
                "description": "Banner postAction",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Banner"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Oluşturma işlemi (POST) başarı ile sonuçlandı.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Banner"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "OAuth2": [
                            "banner_create"
                        ]
                    }
                ],
                "x-stoplight": {
                    "id": "69cchcn9dm69z"
                }
            }
        },
        "/admin-api/banners/count": {
            "get": {
                "tags": [
                    "Banner"
                ],
                "summary": "Banner COUNT",
                "description": "Banner cgetAction",
                "parameters": [
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sıralama değeri. Örnek: Artan sıra için <code>sort=id</code> azalan sıra için <code>sort=-id</code>",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Bir sayfada gelecek banners adedi",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "maximum": 100,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Hangi sayfadan başlanacağı",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "default": 1,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Tekli listeleme için id değeri.",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "Çoklu listeleme için virgülle ayrılmış id değerleri. <code>ids=1,2,3,4</code>",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sinceId",
                        "in": "query",
                        "description": "Yalnızca belirtilen id değerinden sonraki kayıtları getirir ",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "banner arama filtresi. Kullanımı: q[&lt;geçerli-query-parametresi&gt;]",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "s",
                        "in": "query",
                        "description": "Arama anahtarı ile filtreleme.",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Banner"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "OAuth2": [
                            "banner_read"
                        ]
                    }
                ],
                "x-stoplight": {
                    "id": "vj28j5zvivjdw"
                }
            }
        },
        "/admin-api/banners/{id}": {
            "get": {
                "tags": [
                    "Banner"
                ],
                "summary": "Banner GET",
                "description": "Banner getAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "\\d+"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Banner"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "OAuth2": [
                            "banner_read"
                        ]
                    }
                ],
                "x-stoplight": {
                    "id": "l9qr2c9y1a2ad"
                }
            },
            "put": {
                "tags": [
                    "Banner"
                ],
                "summary": "Banner PUT",
                "description": "Banner putAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "\\d+"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Banner"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Banner"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "OAuth2": [
                            "banner_update"
                        ]
                    }
                ],
                "x-stoplight": {
                    "id": "icibvaovlgxvd"
                }
            },
            "delete": {
                "tags": [
                    "Banner"
                ],
                "summary": "Banner DELETE",
                "description": "Banner deleteAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "\\d+"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Silme isteği başarı ile sonuçlandı. (cevapta içerik bulunmaz.)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Banner"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "OAuth2": [
                            "banner_delete"
                        ]
                    }
                ],
                "x-stoplight": {
                    "id": "hno5ihz8mrh7o"
                }
            }
        },
        "/admin-api/bddk_categories/update_remotely": {
            "put": {
                "tags": [
                    "BddkCategory"
                ],
                "summary": "BddkCategory PutRemotelyAction PUT",
                "description": "BddkCategory putRemotelyAction",
                "parameters": [
                    {
                        "name": "paymentProvider",
                        "in": "query",
                        "description": "Payment gateway id",
                        "required": true,
                        "allowEmptyValue": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "OAuth2": [
                            "payment_update"
                        ]
                    }
                ],
                "x-stoplight": {
                    "id": "8bl9gf9v6vfhc"
                }
            }
        },
        "/admin-api/billing_addresses": {
            "get": {
                "tags": [
                    "BillingAddress"
                ],
                "summary": "BillingAddress LIST",
                "description": "BillingAddress cgetAction",
                "parameters": [
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sıralama değeri. Örnek: Artan sıra için <code>sort=id</code> azalan sıra için <code>sort=-id</code>",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Bir sayfada gelecek Billing Address adedi",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "maximum": 100,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Hangi sayfadan başlanacağı",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "default": 1,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Tekli listeleme için id değeri.",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "Çoklu listeleme için virgülle ayrılmış id değerleri. <code>ids=1,2,3,4</code>",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sinceId",
                        "in": "query",
                        "description": "Yalnızca belirtilen id değerinden sonraki kayıtları getirir ",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "BillingAddress arama filtresi. Kullanımı: q[&lt;geçerli-query-parametresi&gt;]",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Order Id",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "s",
                        "in": "query",
                        "description": "Arama anahtarı ile filtreleme.",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BillingAddress"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "OAuth2": [
                            "order_read"
                        ]
                    }
                ],
                "x-stoplight": {
                    "id": "gj0qsyyqmwnus"
                }
            },
            "post": {
                "tags": [
                    "BillingAddress"
                ],
                "summary": "BillingAddress POST",
                "description": "BillingAddress postAction",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BillingAddress"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Oluşturma işlemi (POST) başarı ile sonuçlandı.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BillingAddress"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "OAuth2": [
                            "order_create"
                        ]
                    }
                ],
                "x-stoplight": {
                    "id": "w0sp7bjbn0s1g"
                }
            }
        },
        "/admin-api/billing_addresses/count": {
            "get": {
                "tags": [
                    "BillingAddress"
                ],
                "summary": "BillingAddress COUNT",
                "description": "BillingAddress cgetAction",
                "parameters": [
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sıralama değeri. Örnek: Artan sıra için <code>sort=id</code> azalan sıra için <code>sort=-id</code>",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Bir sayfada gelecek Billing Address adedi",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "maximum": 100,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Hangi sayfadan başlanacağı",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "default": 1,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Tekli listeleme için id değeri.",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "Çoklu listeleme için virgülle ayrılmış id değerleri. <code>ids=1,2,3,4</code>",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sinceId",
                        "in": "query",
                        "description": "Yalnızca belirtilen id değerinden sonraki kayıtları getirir ",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "BillingAddress arama filtresi. Kullanımı: q[&lt;geçerli-query-parametresi&gt;]",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Order Id",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "s",
                        "in": "query",
                        "description": "Arama anahtarı ile filtreleme.",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BillingAddress"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "OAuth2": [
                            "order_read"
                        ]
                    }
                ],
                "x-stoplight": {
                    "id": "k4qpgwd9p1cqt"
                }
            }
        },
        "/admin-api/billing_addresses/{id}": {
            "get": {
                "tags": [
                    "BillingAddress"
                ],
                "summary": "BillingAddress GET",
                "description": "BillingAddress getAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "\\d+"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BillingAddress"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "OAuth2": [
                            "order_read"
                        ]
                    }
                ],
                "x-stoplight": {
                    "id": "0uex3jcfx4dw1"
                }
            },
            "put": {
                "tags": [
                    "BillingAddress"
                ],
                "summary": "BillingAddress PUT",
                "description": "BillingAddress putAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "\\d+"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BillingAddress"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BillingAddress"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "OAuth2": [
                            "order_update"
                        ]
                    }
                ],
                "x-stoplight": {
                    "id": "ho7m5k2s8rpyk"
                }
            }
        },
        "/admin-api/blacklists": {
            "get": {
                "tags": [
                    "Blacklist"
                ],
                "summary": "Blacklist LIST",
                "description": "Blacklist cgetAction",
                "parameters": [
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sıralama değeri. Örnek: Artan sıra için <code>sort=id</code> azalan sıra için <code>sort=-id</code>",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Bir sayfada gelecek Blacklists adedi",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "maximum": 100,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Hangi sayfadan başlanacağı",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "default": 1,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Tekli listeleme için id değeri.",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "Çoklu listeleme için virgülle ayrılmış id değerleri. <code>ids=1,2,3,4</code>",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sinceId",
                        "in": "query",
                        "description": "Yalnızca belirtilen id değerinden sonraki kayıtları getirir ",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Blacklist arama filtresi. Kullanımı: q[&lt;geçerli-query-parametresi&gt;]",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "s",
                        "in": "query",
                        "description": "Arama anahtarı ile filtreleme.",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Blacklist"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "OAuth2": [
                            "blacklist_read"
                        ]
                    }
                ],
                "x-stoplight": {
                    "id": "gweatgfj72mfe"
                }
            }
        },
        "/admin-api/blacklists/count": {
            "get": {
                "tags": [
                    "Blacklist"
                ],
                "summary": "Blacklist COUNT",
                "description": "Blacklist cgetAction",
                "parameters": [
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sıralama değeri. Örnek: Artan sıra için <code>sort=id</code> azalan sıra için <code>sort=-id</code>",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Bir sayfada gelecek Blacklists adedi",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "maximum": 100,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Hangi sayfadan başlanacağı",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "default": 1,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Tekli listeleme için id değeri.",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "Çoklu listeleme için virgülle ayrılmış id değerleri. <code>ids=1,2,3,4</code>",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sinceId",
                        "in": "query",
                        "description": "Yalnızca belirtilen id değerinden sonraki kayıtları getirir ",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Blacklist arama filtresi. Kullanımı: q[&lt;geçerli-query-parametresi&gt;]",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "s",
                        "in": "query",
                        "description": "Arama anahtarı ile filtreleme.",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Blacklist"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "OAuth2": [
                            "blacklist_read"
                        ]
                    }
                ],
                "x-stoplight": {
                    "id": "ly7f6e6twmagq"
                }
            }
        },
        "/admin-api/blacklists/{id}": {
            "get": {
                "tags": [
                    "Blacklist"
                ],
                "summary": "Blacklist GET",
                "description": "Blacklist getAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "\\d+"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "İşlem (GET veya PUT) başarı ile sonuçlandı.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Blacklist"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "OAuth2": [
                            "blacklist_read"
                        ]
                    }
                ],
                "x-stoplight": {
                    "id": "dx59pk7w99iws"
                }
            },
            "delete": {
                "tags": [
                    "Blacklist"
                ],
                "summary": "Blacklist DELETE",
                "description": "Blacklist deleteAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "\\d+"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Silme isteği başarı ile sonuçlandı. (cevapta içerik bulunmaz.)",
                        "content": {
                            "application/json": {
                                "schema": {
[...]
